In [2]:
import sqlite3
import pandas as pd

database = "jobs_db.sqlite"
conn = sqlite3.connect(database)
cursor = conn.cursor()
#
# cursor.execute("Select * from Job_Details where ROWID = 4")
df = pd.read_sql("Select Description, JobLink  from Job_Details where description like '*suck*'", conn)

df

Empty DataFrame
Columns: [description, JobLink]
Index: []

In [11]:
import datetime
# 2022-06-20 19:03:52
def format_time():
    t = datetime.datetime.now()
    s = t.strftime('%Y-%m-%d %H:%M:%S.%f')
    return s[:-4]

format_time()

'2022-06-20 15:41:00.17'

In [14]:
import sqlite3
import pandas as pd

database = "jobs_db.sqlite"
conn = sqlite3.connect(database)
cursor = conn.cursor()
#
# cursor.execute("Select * from Job_Details where ROWID = 4")
df = pd.read_sql('Select  Jobs.Title, JD.description, JD.Activity, Jobs.JobSnipit, Jobs.Salary, Jobs.Location  from Jobs join Job_Details JD on Jobs.JobLink = JD.JobLink join Job_SearchParams JSP on JSP."index" = Jobs.SearchParams', conn)

df

,Title,description,Activity,JobSnipit,Salary,Location
0,Machine Learning Engineer,Machine Learning Engineer\nUSA – Remote\nCompe...,Posted 1 day ago,\nIndustry experience working on developing / ...,"$140,000 - $200,000 a year",Remote
1,Staff Machine Learning Engineer,\nAbout Okta\n Okta is an enterprise grade ide...,Posted 4 days ago,\nWe are looking for senior machine learning e...,NaN,"Remote in San Francisco, CA"
2,Machine Learning Engineer (REMOTE),"\nGEICO is more than insurance, it’s truly a t...",Posted 18 days ago,\nDemonstrates significant experience with han...,NaN,"Temporarily Remote in Chevy Chase, MD 20815"
3,Machine Learning Engineer - ThreatEye,Machine Learning Engineer - ThreatEye\nChange ...,Posted 30+ days ago,\nThe product line comprises containerized sof...,NaN,"Bethesda, MD 20814"
4,Machine Learning Scientist/Engineer (REMOTE),\nGEICO is leading the way in application of M...,Posted 30+ days ago,\nWe’re looking for a Machine Learning Scienti...,NaN,"Remote in Chevy Chase, MD 20815"
...,...,...,...,...,...,...
124,Data Scientist,Erias Ventures was founded to serve its custom...,"Employer reviewed job 5 days ago, Posted 30+ d...",\nThis position involves working collaborative...,"$150,000 - $245,000 a year","Annapolis Junction, MD 20701+1 location"
125,Data Science & AI Project Manager FTC,\nData Science and AI Project Manager - 12 Mon...,Posted Today,\nDevelops and manages execution of project pl...,NaN,"Gaithersburg, MD 20878"
126,Data Scientist Assistant,\n Overview: \n \n AIR is currently seeking ...,Posted 30+ days ago,\nExperience in building data pipelines or app...,NaN,Remote+3 locations
127,Data Scientist - 100% Remote,We have an immediate need for an experienced D...,Posted 30+ days ago,\nStrong ability to evaluate predictive models...,"$150,000 - $175,000 a year",+2 locationsRemote
128,Data Scientist,\nDescription\n\nWho We Are\n Insurity is a le...,Posted 13 days ago,\nConduct sophisticated analytics activities d...,NaN,Remote